<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368521133705-ighv76hop8elnm02qsg3tn57l4bfril8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368521133705-ighv76hop8elnm02qsg3tn57l4bfril8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368521133705-eek0jch4m91flcmev6gpi2kal5fnrhnm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-X0E8eg1qJRFn_Ew1uMISkqTk4b8Zxk</string>
	<key>GCM_SENDER_ID</key>
	<string>368521133705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitpagetest</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a0c48</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a0c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368521133705:ios:c820e6282ce0b25c975058</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-a0c48.firebaseio.com</string>
</dict>
</plist>